.about{
  display: flex;
  max-width: 140vh;
  align-items: center;
  flex-direction: center;
  flex-direction: column;
  margin: 5vh auto;
}
.about-info{
  width: 100%;
  display: flex;
}
.about app-inf{
  width: 100%;

}
.about-info app-inf-list{
  width: 100%;

}
