<section class="about">
  <app-inf [imagem]="'../../../assets/img/img-02.jpeg'"></app-inf>
  <div class="about-info">
    <app-inf-list title="Habilidades"></app-inf-list>
    <app-inf-list title="Linguagens" [skylls]="['Java','JavaScript','Python','TypeScrypt']"></app-inf-list>
    <app-inf-list title="Frameworks" [skylls]="['Angular','JavaSpring','React','Boostrap']" ></app-inf-list>
    <app-inf-list title="Ferramentas" [skylls]="['Git GitHub','CSS','HTML','Figma']"></app-inf-list>
  </div>
  <app-inf title="Certificação" [paragraph]="['Em Curso de Análise e desenvolvimento de Sistemas na Uninter','Etec - Maoel dos Reis Araújo - Curso Técnico em Informática para Internet Integrado ao Ensino Médio - duração 3 anos']"  >
  </app-inf>
  <app-inf title="Experiencia" [paragraph]="['Minha Experiencia foi desenvolvida ao longo de um ano, trabalhando em projetos de cursos, projetos pessoais e free lance.']"  >
  </app-inf>
</section>
