
.icons{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

img{
  width: 8vh;
  margin: 2vh 1vh;
}

.animacao-img-1{
  transition: 0.5s;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  color: #fff;
  border: 1px solid black;
  font-weight: bold;
  text-align: center;
  justify-content: center;

  border-radius: 6px;


  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}


.html{
  background-color: #E44D26;
}

.css{
  background-color: #1572B6;
}
.js{
  background-color: #F0DB4F;
}

.ts{
  background-color: #007ACC;
}

.java{
  background-color: #EA2D2E;
}

.python{
  background-color:  #3670A0;
}

.angular{
  background-color: #DD1B16;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.animacao-img-1:hover {
  margin-top:-5px;
  visibility: visible;
}
