<div class="icons">
  <div class="tooltip">
      <img class="animacao-img-1" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" />
      <span class="tooltiptext html">HTML 5</span>
  </div>

  <div class="tooltip">
      <img class="animacao-img-1" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" />
      <span class="tooltiptext css">CSS 3</span>
  </div>

  <div class="tooltip">
      <img class="animacao-img-1" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" />
      <span class="tooltiptext js">JavaScript</span>
  </div>

  <div class="tooltip">
      <img class="animacao-img-1" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" />
      <span class="tooltiptext ts">TypeScrypt</span>
  </div>

      <div class="tooltip">
      <img class="animacao-img-1" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" />
      <span class="tooltiptext java">Java</span>
  </div>

  <div class="tooltip">
      <img class="animacao-img-1" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" />
      <span class="tooltiptext python">Python</span>
  </div>

  <div class="tooltip">
      <img class="animacao-img-1" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg" />
      <span class="tooltiptext angular">Angular</span>
  </div>
</div>
