
.presentation{
  max-width: 150vh;

  margin: 10vh auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.presentation-content{
  display: flex;
  align-items: center;
  justify-content: center;
}

.presentation-content-text h1{
  font-weight: bolder;
  font-size: 5vh;
}


.presentation-content-text p{
  font-size: 3vh;
}

.main-icons{
  margin:2vh auto;
}

.presentation-content-img{
  display: flex;
  min-width: 40vh;
}

.presentation-content-img img{
  border-radius: 100%;
  width: 60vh;
  height: 100%;
  width: 100%;
  min-width: 50%;
  border: 1px solid black;
}
.button{
  width: 100%;
}
