<main>
  <section class="presentation">
    <div class="presentation-content">
      <div class="presentation-content-text">
        <h1>Seja Bem vindo, venha conhecer meu trabalho.</h1>
        <p>Sou desenvolvedor full stack, gosto muito de organização até por isso me identifiquei muito com o <strong>framework Angular e a linguagem Java</strong>, programo também em <strong> Python, Typescrypt, JavaScript·</strong> Possuo conhecimento de banco de dados SQL e NoSQL(MongoDB).Sou <strong> Rennan Bacili</strong> venha conhecer mais sobre mim.</p>
        <app-buttons class="button"></app-buttons>
        <p>Comecei a minha jornada na programação em 2023 em março, ando me aprimorando todos os dias, meu amor pela área só vem aumentando e posso dizer que vou dar 100% em qualquer projeto.</p>
        <div class="main-icons">
          <app-icons></app-icons>
        </div>
      </div>
      <div class="presentation-content-img">
        <img src="../../../assets/img/img-main-01.jpeg">
      </div>
    </div>
  </section>
</main>

