
.presentation{
  max-width: 150vh;
  margin: 10vh auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.presentation-content{
  display: flex;
  align-items: center;
  justify-content: center;
}

.presentation-content-text h1{
  font-weight: bolder;
  font-size: 5vh;
  color: rgb(0, 0, 80);;
}


.presentation-content-text p{
  font-size: 3vh;
}

.main-icons{
  margin:2vh auto;
}

.presentation-content-img{
  display: flex;
  max-width: 50vh;

}

.presentation-content-img img{
  background-color: #385b79cd;
  border-radius: 100%;
  width:300vh;
  max-height: 100%;
  max-width: 100%;
  border: 1px solid black;
  box-shadow: 5px 10px 50px #949494;
}

strong{
  color: rgb(0, 0, 80);
}


.button{
  width: 100%;
}
