<main>
  <section class="presentation">
    <div class="presentation-content">
      <div class="presentation-content-text">
        <h1>Seja Bem vindo.</h1>
        <p>Meu nome é Rennan.</p><br>
        <p>Sou desenvolvedor full stack, gosto muito de organização até por isso me identifiquei muito com o <strong>framework Angular e a linguagem Java</strong>, programo também em <strong> Python, Typescrypt, JavaScript·</strong> Possuo conhecimento de banco de dados<strong> SQL e NoSQL(MongoDB).</strong>

        <div class="main-icons">
          <app-icons></app-icons>
        </div>

       <app-buttons class="button"
        linkedin="https://www.linkedin.com/in/rennan-bacili-dev"
        github="https://github.com/RennanBaccili"
        instagram="https://www.instagram.com/rennanbacili_dev/"
        email="https://rennanbaccili@gmail.com"
       >



       </app-buttons>
      </div>

      <div class="presentation-content-img">
        <img src="../../../assets/img/img-main-01.png">
      </div>
    </div>
  </section>
</main>

