<div class="projects">
  <div class="projects-content">
    <app-card class="card"
    nameProject="Projeto Angular Doceria"
    [tecnologias]="['HTML ','CSS ','TypeScript ','Angular ']"
    description="Este projeto foi inspirado no primeiro curso de html e css, ele foi recriado com tecnicas de flexbox, menu responsivo, e totalmente componentizado."
    imagem_1="../../../assets/img/projeto_doceria/foto1.png"
    imagem_2="../../../assets/img/projeto_doceria/foto2.png"
    link="https://github.com/RennanBaccili/Doceria_Agular"
    ></app-card>
    <app-card class="card"></app-card>
  </div>
</div>

