<div class="projects">
  <div class="projects-content">
    <app-card class="card"
    nameProject="Projeto Angular PSN"
    [tecnologias]="['HTML ','CSS ','TypeScript ','Angular ']"
    description="Este projeto foi feito em conjunto da plataforma DIO, curso bradesco FullStack. Foi um estudo sobre atomização do angular."
    imagem_1="../../../assets/img/img_02.png"
    link="https://github.com/RennanBaccili/Angular-PSN-project"
    ></app-card>
    <app-card class="card"></app-card>
  </div>
</div>

