<section class="card">
  <div class="card-content">
    <div class="card-content__text">
      <h1>Projeto 01</h1>
    <div class="link"><a href="#"><button class="github">github</button></a></div>
    </div>
    <div class="card-content-imgs">
        <div class="img_main">
          <img src=""  alt="" srcset="">
        </div>
        <div class="img_responsive">
        </div>
    </div>
    <div class="card-content-inf">
      <div class="card-content-inf-tec"><p>Tecnologias: HTML, CSS, TYPESCRIPT, ANGULAR</p></div>
      <div class="card-content-inf-txt">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit obcaecati magni quas magnam provident. Veniam quam iusto sapiente non obcaecati inventore nesciunt, fugit, dolores eaque assumenda deserunt aut, numquam cumque?</p>
      </div>
    </div>
  </div>
</section>

