.card{
  background-color: #052037d0;
  min-height: 65vh;
  max-width: 70vh;
  margin: 5vh auto;
  border-radius: 2vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  box-shadow: 5px 10px 18px #888888;
}
.card-content{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.card-content__text{
  display: flex;
  align-items: center;
}
.card-content__text h1{
  margin: 10px auto;
  color: white;
  font-weight: bold;
  font-size: 4vh;
}

.link{
  display: flex;
  align-items: center;
  padding: 2vh;
}

.link a{
  text-decoration: none;

}
.link a >button{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 1px;
    border-radius: 100vh;
    font-size: 2.5vh;
    font-weight: bold;
}

/* content card */

.card-content-imgs{
  border: 1px solid #052037;
  height:40vh;
  min-width: 70vh;
  display: flex;
  flex-direction: row;
  /* background-image: url("https://freefrontend.com/assets/img/css-background-patterns/css-lattice-pattern.png"); */
}

/* primeiro card */
.img_main{
  height:33vh;
  max-width: 100vh;
  display: flex;
  margin: 2vh auto;
}

.card-content-imgs .img_main img{
  width: 100%;
  height: 100%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

/* segundo card */

.img_responsive{
  height:33vh;
  max-width: 20vh;
  display: flex;
  margin: 2vh auto;
}

.card-content-imgs .img_responsive span > img{
  width: 100%;
  height: 100%;
  background-position: center; /* Center the image */
  background-size: cover;
}

/* conteudo */

.card-content-inf{
  display: flex;
  flex-direction: column;
  width: 100%;

}
.card-content-inf-tec{
  display: flex;
  border: 1px solid black;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 2.2vh;
  padding: 5px;
}
.card-content-inf-txt p{
  color: white;
  font-size: 2.5vh;
  padding: 5px;
}
