<section class="card">
  <div class="card-content">
    <div class="card-content__text">
      <h1>{{nameProject}}</h1>
    <div class="link"><a href="{{link}}" target="_blank"><button class="github">Github</button></a></div>
    </div>
    <div class="card-content-imgs">
        <div class="img_main">
          <span><a href="#" target="_blank"> <img src="{{imagem_1}}" alt="" srcset="">  </a></span>
        </div>

        <!-- <div class="img_responsive">
          <span><img src="{{imagem_2}}" alt="" set=""></span>
        </div> -->
    </div>
    <div class="card-content-inf">
      <div class="card-content-inf-tec"><p *ngFor="let i of [tecnologias]">Tecnologias:{{i}}</p></div>
      <div class="card-content-inf-txt">
      <p>{{description}}</p>
      </div>
    </div>
  </div>
</section>

