<div class="menu-spacing"></div>
<input id="close-menu" class="close-menu" type="checkbox" aria-label="Close-menu" role="button">
<label class="close-menu-label" for="close-menu" title="Close menu"></label>
<header class="menu white-bg">
  <div class="main-content menu-content">
      <h1 onclick="getElementById('close-menu').checked = false;"><a href="/">Rennan</a></h1>
      <nav>
          <ul onclick="getElementById('close-menu').checked = false;">
            <li><a [routerLink]="['/']">Home</a></li>
            <li><a [routerLink]="['/projects']">Projetos</a></li>
            <li><a [routerLink]="['/about']">Sobre</a></li>
          </ul>
      </nav>
  </div>
</header>


